        body{
            background-color: #e9ebee;
        }

        .main-content{
            background-color: #FDFDFD;
            padding: 4px;
            top: 40px;
        }

        .head{
            display: block;
        }

        .intro{
            display: block;
        }

        .picture{
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 640px;
            max-height: 480px;
            min-width: 480px;
            min-height: 320px;
            background: #fff;
            border-top: 1px solid #dae1e6;
            border-bottom: 1px solid #dae1e6;
            border-radius: 6px;
            border-left: 1px solid #dae1e6;
            border-right: 1px solid #dae1e6;
            background-clip: padding-box;
        }

        .body{
            display: block;
        }

         /*==================================================
         * Fonts
         * ===============================================*/

        h1 {
            font-family: 'Helvetica Neue';
            font-size: 80px;
            font-style: normal;
            font-variant: small-caps;
            font-weight: bold;
            line-height: 54px;
        }
        h3 {
            font-family: 'Helvetica Neue';
            font-size: 27px;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            line-height: 40px;
        }
        p {
            font-family: 'Helvetica Neue';
            font-size: 22px;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 33px;
        }
        blockquote {
            font-family: 'Helvetica Neue';
            font-size: 27px;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 33px;
        }
        pre {
            font-family: 'Helvetica Neue';
            font-size: 18px;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 33px;
        }
         pre.small {
            font-size: 10px;
            font-weight: 300;
            line-height: 10px;
        }

        /*==================================================
         * Shadow
         * ===============================================*/
        .shadow
        {
            position:relative;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        .shadow:before, .shadow:after
        {
            content:"";
            position:absolute;
            z-index:-1;
            -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
            -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:10px;
            bottom:10px;
            left:0;
            right:0;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
        .shadow:after
        {
            right:10px;
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg);
               -moz-transform:skew(8deg) rotate(3deg);
                -ms-transform:skew(8deg) rotate(3deg);
                 -o-transform:skew(8deg) rotate(3deg);
                    transform:skew(8deg) rotate(3deg);
        }



        .flex-container {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-align: start;
            -moz-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            }

        .flex-item:nth-child(1) {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            }

        /*
            Legacy Firefox implementation treats all flex containers
            as inline-block elements.
        */

        @-moz-document url-prefix() {
        .flex-container {
            width: 100%;
            -moz-box-sizing: border-box;
            }

        }